# Take home assignment week 1 session 2
1. **Variables:**
   - Create three variables store a float, an integer, and a string sentence the word "Ghana" in there
   - Join or concatenate the variables to form a meaningful sentences and store it in a variable called "sentence_1"
   - Replace the word "Ghana" with any country of your choice
   - Split the sentence on the spaces and print the 5th and last words

In [4]:
x=1.50
y=25
z='Ghana'
x,y,z

(1.5, 25, 'Ghana')

In [7]:
sentence_1=f"He is from {z}, he is {y }years old and {x}cm long."
sentence_1

'He is from Ghana, he is 25years old and 1.5cm long.'

In [9]:
sentence_1=sentence_1.replace('Ghana','Ethiopia')
sentence_1

'He is from Ethiopia, he is 25years old and 1.5cm long.'

In [14]:
split_sentence=sentence_1.split(' ')
split_sentence

['He',
 'is',
 'from',
 'Ethiopia,',
 'he',
 'is',
 '25years',
 'old',
 'and',
 '1.5cm',
 'long.']

In [15]:
split_sentence[4],split_sentence[-1]

('he', 'long.')

'is'

1. **Creating a list:**
   - Create a list of 5 fruits and print it.
   - Create a list of even numbers from 20 to 40 using a list comprehension.

2. **Accessing elements:**
   - Access and print the third fruit in the list.
   - Print the first and last elements of the list.

3. **Modifying elements:**
   - Change the second fruit in the list to a different fruit.
   - Add a new fruit to the end of the list.

4. **Iterating through elements:**
   - Use a `for` loop to print each fruit in the list, followed by its length.
   - Use a `while` loop to print each even number in a list in reverse order.

5. **List operations:**
   - Sort the list of fruits alphabetically.
   - Find the index of the first occurrence of a specific fruit in the list.
   - Create a new list containing only the fruits that start with the letter "A".

In [18]:
##1. 
fruit=["banana","orange","Mango","watermillon","apple"]
fruit

['banana', 'orange', 'Mango', 'watermillon', 'apple']

In [19]:
even_number=[x for x in range(20,40) if x%2==0]
even_number

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [20]:
#2. 
fruit[2]

'Mango'

In [21]:
 print(fruit[0],fruit[-1])

banana apple

In [22]:
print(even_number[0],even_number[-1])

20 38

In [ ]:
#3. 
fruit[1]="avacado"
fruit[1]

In [23]:
fruit.append('strawbwry')
fruit

['banana', 'orange', 'Mango', 'watermillon', 'apple', 'strawbwry']

In [24]:
#4. 
for fruits in fruit:
    print(fruits,len(fruits))

banana 6
orange 6
Mango 5
watermillon 11
apple 5
strawbwry 9

In [26]:
i=len(even_number)-1
even_rev=[]
while i>=0:
    even_rev.append(even_number[i])
    i=i-1
even_rev

[38, 36, 34, 32, 30, 28, 26, 24, 22, 20]

In [31]:
# 5. 
fruit.sort()
fruit

['Mango', 'apple', 'banana', 'orange', 'strawbwry', 'watermillon']

In [34]:
fruit.index('Mango')

0

In [35]:
new_fruit=[newf for newf in fruit if newf[0]=='A']
new_fruit

[]

1. **Creating a tuple:**
   - Create a tuple containing a person's name, age, and city.
   - Create a tuple of coordinates (x, y) using tuple packing.

2. **Accessing elements:**
   - Access and print the person's age from the tuple.
   - Print the x-coordinate from the tuple of coordinates.

3. **Iterating through elements:**
   - Use a `for` loop to print each element in the tuple, including its index.

4. **Tuple immutability:**
   - Demonstrate that you cannot modify elements of a tuple directly.

In [37]:
#1. 
information=('kaleab',25,'Addis Ababa')
information

('kaleab', 25, 'Addis Ababa')

In [41]:
coordinates=(2,4)
coordinates

(2, 4)

In [39]:
#2
information[1]

25

In [44]:
x,y=coordinates
print(x)
print(y)

2
4

In [47]:
#3. 
for i in information:
    print(i)

kaleab
25
Addis Ababa

In [48]:
#4
information[0]='Menbere'

TypeError: 'tuple' object does not support item assignment

1. **Creating a dictionary:**
   - Create a dictionary to store information about a book (title, author, year).
   - Create a dictionary to store the prices of different fruits.

2. **Accessing and adding items:**
   - Access and print the author of the book.
   - Add a new item to the dictionary with the book's ISBN number.

3. **Iterating through items:**
   - Use a `for` loop to print each key-value pair in the dictionary.
   - Print only the keys in the dictionary.
   - Print only the values in the dictionary.

4. **Dictionary operations:**
   - Check if a specific key exists in the dictionary.
   - Get a list of all keys in the dictionary.
   - Get a list of all values in the dictionary.
   - Remove an item from the dictionary by its key.

In [52]:
#1
book={'title':'dertogada','author':'kaleb','year':2013}
fruit_price={'Mango':30,'banana':10,'strawebery':20}

{'Mango': 30, 'banana': 10, 'strawebery': 20}

In [54]:
print(book)
print(fruit_price)

{'title': 'dertogada', 'author': 'kaleb', 'year': 2013}
{'Mango': 30, 'banana': 10, 'strawebery': 20}

In [55]:
book['author']

'kaleb'

In [57]:
book['ISBN']='DER2345'
book

{'title': 'dertogada', 'author': 'kaleb', 'year': 2013, 'ISBN': 'DER2345'}

In [65]:
#3
for key in book:
    print(key,book[key])

title dertogada
author kaleb
year 2013
ISBN DER2345

In [67]:
book.keys()

dict_keys(['title', 'author', 'year', 'ISBN'])

In [68]:
book.values()

dict_values(['dertogada', 'kaleb', 2013, 'DER2345'])

In [71]:
if 'title' in book:
    print('got it!')
else:
    print('Not found')

got it!

In [72]:
if book.get('author'):
    print('got it!')
else:
    print('Not found')

got it!

In [73]:
book.keys()

dict_keys(['title', 'author', 'year', 'ISBN'])

In [74]:
book.values()

dict_values(['dertogada', 'kaleb', 2013, 'DER2345'])

In [82]:
del book['ISBN']

In [83]:
book

{'title': 'dertogada', 'author': 'kaleb', 'year': 2013}

## Functions

1.	Write a function that prints Hello plus a name and greets with time. But name argument should have a default value “World” and time show also have a default value, “morning”. The function should be able to take values to replace name and time.
2.	Write another function to prints out even numbers from the list of values passed as an argument.

In [84]:
def greeting(name='world',time_show='Morning'):
    print(f"Hello {name}, Good {time_show}.")
greeting()

Hello world, Good Morning.

In [90]:
def even_number(list):
    even=[]
    for i in list:
        if i%2==0:
            even.append(i)
    return even
z=[1,2,3,4,5,6,7]

even_number(z)

[2, 4, 6]